*{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: white;
}
body{
    background-image: url(https://images.unsplash.com/photo-1592210454359-9043f067919b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: 100%;
}
.input{
    padding: 0 20px;
    width: 90%;
    height: 65px;
    padding: auto;
    background: white;
    border: white 2px solid;
    border-radius: 10px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    font-style: italic;
    font-size: 25px;  
    margin-bottom: 50px; 
    margin-left: 100px; 
    color: black;
}
.city{
    font-size: 60px;
    text-align: center;
}
.date{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
}
.gradus{
    width: 400px;
    height: auto;
    padding: 30px;
    text-align: center;
    font-size: 100px;
    border: 2px solid white;
    margin: auto;
    border-radius: 10px;
    transform: translateY(-20px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
    background-attachment: local;
    margin-top: 60px;
}
.holat{
    margin-top: 20px;
    font-size: 60px;
    text-align: center;
}
.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}